@font-face {
  font-family: font1;
  src: url("../../assets/fonts/Lobster-Regular.ttf");
}

@font-face {
  font-family: font2;
  src: url("../../assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: font3;
  src: url("../../assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: font4;
  src: url("../../assets/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: font5;
  src: url("../../assets/fonts/Manuale-Light.ttf");
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-image: url('../../assets/images/background.jpg');
  background-size: cover;
  background-attachment: fixed;

  .main-section {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: row;

    .produtos {
      width: 70vw;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .produto {
        margin: 15px;
        width: 430px;
        height: 500px;
        position: relative;

        img {
          max-width: 700px;
          width: 100%;
          max-height: 900px;
          height: 100%;
          border-radius: 25px;
        }

        button {
          position: absolute;
          top: 0;
          right: 0;
          border: none;
          border-radius: 1.5rem;
          background-color: #4CAF50;
          color: white;
          font-size: 1.5rem;
          width: 3rem;
          height: 3rem;
          line-height: 3rem;
          text-align: center;
          cursor: pointer;
        }
      }
    }

    .carrinho {
      position: fixed;
      top: 160px;
      right: 10px;
      background-color: white;
      padding: 10px;
      border: 1px solid #ccc;
      width: 30%;
      height: 50%;
      text-align: center;
      font-family: 'font3';


      
      .descricao{
        font-family: font2;
      }
      img {
        padding: 20px;
        max-width: 90px;
        width: 100%;
      }

      .valor-box {
        max-height: 700px;
        overflow: hidden;
        margin-top: 10px;

        a{
          font-family: font5;
          font-size: 24px;
        }
        .box {
          border-bottom: 1px solid #ccc;
          padding: 10px;
          font-family: 'font3';

          p {
            margin: 0;
          }

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }

  .site-footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    font-family: 'font3';

    .footer-content {
      display: flex;
      justify-content: space-around;
    }

    .footer-section {
      flex: 1;
      text-align: center;

      h3 {
        font-family: 'font4';
      }

      ul {
        list-style: none;
        padding: 0;
      }

      li {
        margin: 5px 0;
      }
    }

    .footer-bottom {
      text-align: center;
      padding-top: 10px;
      background-color: #222;
    }
  }
}

@media screen and (max-width: 768px) {
  body{

  
    .main-section{
      .produtos{
        .produto{
          max-width: 200px;
          max-height: 200px;
        }
      }
      .carrinho{
        width: 20%;
        img{
          width: 60px;
        }
      }
    }

    
    .descricao{
      display: none;
    }
  }
}



  @media screen and (max-width: 458px) {


    .produto{
      max-width: 190px;
      max-height: 230px;
    }
}
