

.site-footer {
  background-color: #333; 
  color: #fff; 
  padding: 30px 0;
  text-align: center;
  font-family: font3; /* Utilizando a fonte Montserrat-Regular para o rodapé */
  height: 20vh;
  .footer-content {
    display: flex;
    justify-content: space-around;
  }

  .footer-section {
    flex: 1;
    text-align: center;

    h3 {
      font-family: font4; 
    }

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      margin: 5px 0;
    }

    a{
      padding: 20px;
      cursor: pointer;
    }
    .sobre{
      font-family: font1;
      text-decoration: none;
        color: #FFD700;

    }
  }

  .footer-bottom {
    text-align: center;
    padding-top: 10px;
    background-color: #222; 
  }
}

@media screen and (max-width:768px){
    .site-footer{
      font-size: 10px;
      gap: 10px;
    }
}