@font-face {
    font-family: font1;
    src: url("../../assets/fonts/Lobster-Regular.ttf");
}

@font-face {
    font-family: font2;
    src: url("../../assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: font3;
    src: url("../../assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: font4;
    src: url("../../assets/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: font5;
    src: url("../../assets/fonts/Manuale-Light.ttf");
}

*{
    margin: 0;
    padding: 0;
}

body{
        .sobre{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
            h1{
                padding: 55px;
                font-family: font1;
                font-size: 48px;
                font-style: normal;
                font-weight: 400;
                
                
            }

            p{
                width: 586px;
                padding-top: 30px;
                font-family: font1;
                color: #000;
                text-align: center;
                font-size: 24px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                

            }

            h2{
                padding: 55px;
                font-family: font1;
                font-size: 48px;
                font-style: normal;
                font-weight: 400;
            }
            }

            .description{
                width: 586px;
                
                p{
                    color: #000;
                    
                    font-family: font2;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            
        }
} 


